
<html>
<head>
	<title>Admin Login</title>
</head>
<body align="center">

    <h1>Admin Authentication</h1>
<table align="center">
<tr>
    <td>
    <form method="post" action="../controller/adminloginchk.php" enctype="">
	
		<fieldset>
			<legend align="center">LOGIN</legend>
			Username : <br />
			<input type="text" name="name" value="" placeholder="Enter username" /> <br />
			Password : <br />
			<input type="password" name="password" value="" placeholder="Enter Password" /> <br />
			<input type="submit" name="submit" value="LogIn" />
			
		  </fieldset>
	
	</form>
	
	<a href="adminsignup.html"> <input type="submit" name="Submit" value="Sign up"></a>
		
		

	</td>
	</tr>
	<tr>
		<td>
			<a href="main.php"> <input type="button" name="button" value="Back to Main Menu"></a>
		</td>
	</tr>
	</table>


</body>
</html>